* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* .hero {
    height: 100vh;
} */

/* .hero-section {
    padding-top: 3rem;
    align-items: center;
    justify-content: center;
}

.hero-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.txt-shadow {
    font-weight: bold;
    font-size: 20px;
}

select {
    color: black;
    transition: all ease-in-out 0.3s;
}

select:hover {
    background-color: rgba(0, 174, 239);
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 3px solid white;
    border-radius: 10px;
}

button {
    transition: all ease-in-out 0.3s;
}

button:hover {
    background-color: rgba(0, 174, 239);
    font-weight: bold;
    font-size: 15px;
    border: 3px solid white;
}

.rotate {
    transform: rotate(8deg);
}

.bg-img {
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url('images/portrait-young-student-happy-be-back-university_23-2148586577.avif');
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.bg-img1 {
    padding: 60px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.bg-hero {
    background: linear-gradient(
        to top left, 
        rgb(0, 187, 255), 
        rgb(160, 230, 255)
    );
}

bg-br-primary-error {
  background: linear-gradient(to bottom right, rgb(var(--primary-background-color)), rgb(var(--error-background-color)));
  color: rgb(var(--primary-foreground-color));
}


