* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* .hero {
    height: 100vh;
} */

/* .hero-section {
    padding-top: 3rem;
    align-items: center;
    justify-content: center;
}

.hero-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

button:hover {
    background-color: aqua;
}

.rotate {
    transform: rotate(8deg);
}

.bg-img {
    background-image: url("images/portrait-young-student-happy-be-back-university_23-2148586577.avif");
}
