section {}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(-0%);
    }
}

.dashb {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    padding: 0.2rem;
    gap: 0.5rem;
    S
}

.section-menu {
    width: 20%;
    height: 100vh;
    padding: 0.5rem;
}

@media (max-width:768px) {
    .section-menu {
        display: none;
    }
}

.section-dash {
    width: 79%;
    height: 100vh;
    overflow-y: auto;
}

@media (max-width:768px) {
    .section-dash {
        width: 100%;
    }
}

.menu-hover {
    transition: all ease-in-out 0.3s;
}

.menu-hover:hover {
    background-color: rgb(239, 0, 80);
    padding: rem;
    border-radius: 1rem;
    font-size: 0.7rem;
    color: aliceblue;
}

.menu-focus {
    background-color: rgb(255, 106, 0);
    padding: rem;
    border-radius: 1rem;
    font-size: 0.7rem;
    color: aliceblue;
}

.notified {
    transition: all ease-in-out 0.3s;
}

.notified:hover {
    background-color: rgb(255, 106, 0);
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
}

.cancel {
    transition: all ease-in-out 0.3s;
}

.cancel:hover {
    background-color: rgb(255, 106, 0);
    border-radius: 50%;
    color: white;
}

.notifier {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: rgba(22, 22, 22, 0.5);
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
}

.notified-hide {
    display: none;
}

.mobile {
    display: none;
    background-color: rgba(22, 22, 22, 0.5);
    width: 100%;
    height: 100vh;
    padding: 0.2rem;
    position: fixed;
    z-index: 5;
    animation: slideUp 1s ease-in-out backwards;
}

@media (max-width:768px) {
    .mobile {
        display: none;
    }
}

.mobile-menu-button {
    display: none;
}

@media (max-width:768px) {
    .mobile-menu-button {
        display: block;
    }
}

.cancel-mobile {
    z-index: 4;
    right: 30%;
    top: 10px;
}

.mobile-menu {
    width: 15rem;
    height: 100vh;
    padding: 0.3rem;
    position: absolute;
    box-shadow: 2px 1px 1px rgba(22, 22, 22, 0.2);

}